body{
    padding: 0;
    margin: 0;
}
.background{
    width: 100%;
}
.navbar {
    position: absolute; 
    margin-left: 100px;
    display: flex;
    top: 0; 
    left: 0; 
    color: white; 
}
.navbar .nav{
    margin-left: 800px;
    display: flex;
}
.nav ul a{
     color: white;
     text-decoration: none;
     font-size: 24px;
     font-family: sans-serif;
     font-weight: 700;
}
.title{
    font-size: 25px;
    font-weight: 500;
}
span{
    font-size: 50px;
    font-weight: 2;
}
.headline p{
    position: absolute; 
    margin-left: 100px;
    top: 100px;
    left: 1050px;
    color: white; 
    font-size: 70px;
    font-weight: 600;
    text-align: end;
}
.description p{
    position: absolute; 
    margin-left: 100px;
    top: 320px;
    left: 1240px;
    color: white; 
    font-size: 40px;
    text-align: end;

}
