body{
    padding: 0;
    margin: 0;
}
.background{
    width: 100%;
}
.navbar {
    position: absolute; 
    margin-left: 100px;
    display: flex;
    top: 0; 
    left: 0; 
    color: white; 
}
.navbar .nav{
    margin-left: 800px;
    display: flex;
}
.nav ul a{
     color: white;
     text-decoration: none;
     font-size: 24px;
     font-family: sans-serif;
     font-weight: 700;
}
.title{
    font-size: 25px;
    font-weight: 500;
}
span{
    font-size: 50px;
    font-weight: 2;
}
.headline p{
    position: absolute; 
    margin-left: 100px;
    top: 100px;
    left: 1050px;
    color: white; 
    font-size: 70px;
    font-weight: 600;
    text-align: end;
}
.description p{
    position: absolute; 
    margin-left: 100px;
    top: 320px;
    left: 1240px;
    color: white; 
    font-size: 40px;
    text-align: end;

}
/*------------------------ About ------------------------------*/
.about{
 margin-top: 5px;
 margin-bottom: 50px;
 display: flex;
 margin-right: 200px;
 margin-left: 200px;
 gap: 15rem;
}

.about img{
    margin-top: 150px;
}
.about h1{
    color: #ebebeb;
    font-size: 128px;
    font-family: Lora;
    font-weight: 700;
}
.text h2{
    position: absolute;
    top: 1455px;
    left: 0;
    color: #741906;
    font-size: 56px;
    font-family: Lora;
    font-weight: 700;
    margin-left: 220px;

}
.text p{
   
        color: #232730;
        font-size: 20px;
        font-family: Nunito Sans;
        line-height: 24px;
        letter-spacing: 1px;
}
